<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Task ID</th>
            <th scope="col">Username</th>
            <th scope="col">To-Do</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mash</td>
            <td>Breakfast</td>
            <td>Completed</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>