@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,900&family=Poppins:wght@500;600;700;800;900&display=swap');

$primary: rgb(111,0,255);

body{
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.nav-container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: $primary;
    padding: 1em 0;

    a{
        color: white;
        text-decoration: none;
    }

    a.logo{
        font-weight: bold;
    }

    nav{
        float: right;

        ul{
            list-style-type: none;
            margin: 0;
            display: flex;
            margin-top: -1em;            
            li a{
                padding: 1em;
                margin-bottom: 2em;

                &:hover{
                    background: darken($primary, 7%);
                    margin-bottom: 5em;
                }
            }
        }
    }
}

h1{
    margin-top: 2em;
}